{{ $chronam := "https://chroniclingamerica.loc.gov/lccn/sn83035143/" }}
{{ $newspaper := "Cleveland Morning Leader" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "formatdate" .context.formatdate }}
<article class="abstract">
  {{ if not .context.xref_heading }}
    <h4 id="{{ .context.displayid }}">Abstract {{ .context.displayid }}</h4>

    <p><em>{{ $newspaper }}</em>, <a href="/issues/{{ .context.formatdate }}/">{{ .context.displaydate }}</a>
    ({{ with .context.type }}{{ . }}; {{ end }}{{ .context.inches }} inches)   {{/* TODO handle non-hathitrust sources */}}
    ~ <a href='https://babel.hathitrust.org/cgi/pt?id=iau.31858046133199&view=1up&seq={{ .seq }}'>See original</a>
    <br/>
    {{ range .context.blocksarray }}
    p.{{ .page }}, col.{{ delimit .columns "," }}
    ~ <a href='{{ $chronam }}{{ $scratch.Get "formatdate" }}/ed-1/seq-{{ .page }}'>View at ChronAm</a>
    {{ end }}
    </p>
    
    <p>
      {{ range .context.lines }}
        {{ . }} <br/>
      {{ end }}
    </p>

    {{ if eq .thisdir "terms/" }}
      {{/* we are generating a terms page, so we need to provide a link to the abstract's heading */}}
      <p>Under heading: 
          {{ if isset .context.heading "path" }}
            {{ partial "heading-parents.html" (dict "context" .context.heading) }}
            {{ $scratch.Set "linkprefix" (print "/headings/" .context.heading.path "/") }}
            <a href="{{ $scratch.Get "linkprefix" }}#{{ .context.displayid }}">{{ .context.heading.text }}</a>
          {{ else }}
            No path found.
          {{ end }}
      </p>
    {{ end }}

    {{ if .context.terms }}
      <h5>Index terms:</h5>
      <p>
        {{ range $index, $value := .context.terms }}{{ if ne $index 0 }}; {{ end }}<a href="/terms/{{ $value.slug }}/">{{ $value.term }}</a>{{ end }} 
      </p>
    {{ else }}
      <p>No index terms.</p>
    {{ end }}
  {{ else }}
    <h4>[Unnumbered Abstract]</h4>

    <p><em>{{ $newspaper }}</em>, <a href="/issues/{{ .context.formatdate }}/">{{ .context.displaydate }}</a>
    {{ $xref := (index .context.xref_heading.seealso_headings 0) }}
    - <strong>See</strong> {{ .context.metadata }} under <a href="/headings/{{ $xref.path }}">{{ $xref.text}}</a>
    {{ range .context.xref_heading.see_abstracts }}
        [<a href="/headings/{{ $xref.path }}#{{ . }}">{{ . }}</a>]
      {{ end }} 
    </p>
  {{ end }}
</article>
