{{ $chronam := "https://chroniclingamerica.loc.gov/lccn/sn83035143/" }}
{{ $newspaper := "Cleveland Morning Leader" }}

<div class="entry">
  <h3 id="{{ .id }}">{{ .id }}</h3>

  <p><em>{{ $newspaper }}</em>, <a href="../../issues/{{ .formatdate }}/">{{ .displaydate }}</a>, p.{{ .page }}, col.{{ .column }}
  ({{ with .type }}{{ . }}; {{ end }}{{ .inches }} inches)
  ~ <a href='{{ $chronam }}{{ .formatdate }}/ed-1/seq-{{ .page }}'>View at ChronAm</a></p>
  
  <p>
    {{ range .lines }}
      {{ . }} <br/>
    {{ end }}
  </p>

  <h4>Index terms:</h4>
  <ul>
    <li>{{ .heading }} - {{ .subheading }}</li>
    {{ range .terms }}
      <li><a href="../../terms/{{ .slug }}/">{{ .term }}</a></li>
    {{ end }}
  </ul>

</div>
