<figure id="image_" style="float: right; margin-left: 1em; width: 300px" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
  <a href="assets/if-it-happened.jpg" itemprop="url"> <img title="If It Happened in Cleveland, It's Here" alt="Newspaper clipping of a photo of several people working around a large table." src="assets/if-it-happened-thumb.jpg" itemprop="thumbnail"> </a>
  <figcaption class="caption" itemprop="caption">
    WPA workers preparing materials for the <em>Annals of Cleveland</em>, 1936. (Cleveland Plain Dealer; clipping from Library of Congress.)
  </figcaption>
</figure>
